@mixin center-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: 10% repeat(7, 1fr);
  grid-auto-rows: 30px;
  grid-gap: 2px;

  .corner-grid-item {
    background-color: white;
  }

  .date-grid-item {
    @include center-grid-item;
    background-color: $date-time-color;
    text-transform: capitalize;
  }

  .time-grid-item {
    @include center-grid-item;
    background-color: $date-time-color;
  }

  .closed-grid-item {
    background-color: $closed-color;
  }

  .btn-grid-item {
    border: none;
    outline: none;
  }

  .break {
    background-color: $break-color;
    
    &:hover {
      background-color: scale-color($break-color, $lightness: -10%);
      cursor: not-allowed;
    }
   }

   .taken {
    background-color: $taken-color;

    &:hover {
      background-color: scale-color($taken-color, $lightness: -10%);
      cursor: not-allowed;
    }
   }

   .available {
    background-color: $available-color;

    &:hover {
      background-color: scale-color($available-color, $lightness: -10%);
    }
   }

   .selected {
     background-color: $selected-color;

     &:hover {
      background-color: scale-color($selected-color, $lightness: -10%);
    }
   }
}
