.footer {
  p {
    margin: 10px 0 5px 0;
  }

  .legend {
    margin-top: 20px;

    div {
      display: inline-block;
      padding: 0 10px 5px 10px; 
    }

    .square {
      height: 20px;
      width: 20px;
    }

    .closed {
      background-color: $closed-color;
    }

    .available {
      background-color: $available-color;
    }

    .taken {
      background-color: $taken-color;
    }

    .break {
      background-color: $break-color;
    }

    .selected {
      background-color: $selected-color;
    }
  }

  
}
