$closed-color: rgb(219, 219, 219);
$available-color: rgb(107, 218, 93);
$taken-color: rgb(248, 53, 53);
$break-color: rgb(255, 140, 167);
$date-time-color: rgb(166, 244, 247);
$selected-color: rgb(252, 255, 78);

.container {
  max-width: 1400px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}
